{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "useBuiltIns": "usage",
      "debug": true,
      "indlue": [
        // white list of build-in plugin,
        // only the plugin list in the env preset allowed
      ]
    }],
    "@babel/preset-react",
  ],
  "plugins": [
    // ---------------------------
    // NOT inside preset-env
    // ---------------------------
    "transform-decorators-legacy",  // for @ symbol like @connect
    "transform-class-properties",   // for ES2015 class in React Component
    //["transform-object-rest-spread", { "useBuiltIns": true }], // for ...Object
    "@babel/plugin-proposal-object-rest-spread",
  ],
}
