{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    // ---------------------------
    // NOT inside preset-env
    // ---------------------------
    "transform-decorators-legacy",  // for @ symbol like @connect
  ],
}
