{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "no-eval": ["error"],
    "no-new-func": ["error"],
    "no-implied-eval": ["error"],
    "no-alert": ["error"], //include alert, prompt, and confirm
    "no-with": ["error"],
    "no-new-wrappers": ["error"],
    "no-array-constructor": ["error"],
    "no-new-object": ["error"],
    // "no-magic-numbers": ["warn",  { "ignore": [1], "ignoreArrayIndexes": true, "detectObjects": true }],
    "no-var": ["error"],
    "operator-assignment": ["error"],
    "no-unreachable": ["error"],
    "guard-for-in": ["error"],
    "no-undefined": ["error"],
    "react/jsx-pascal-case": ["error"],
    "react/no-did-mount-set-state": ["error"],
    "react/no-did-update-set-state": ["error"],
    "react/no-find-dom-node": ["error"],
    "react/no-is-mounted": ["error"],
    "react/no-render-return-value": ["error"],
    "react/no-unescaped-entities": ["error"],
    "react/no-unused-prop-types": ["error"],
    "react/prefer-es6-class": ["warn", "always"],
    "react/prefer-stateless-function": ["warn"],
    "react/jsx-key": ["error"],
    // "react/jsx-equals-spacing": ["error", "always"],
    "react/jsx-no-literals": ["error"],
    "react/jsx-no-undef": ["error"],
    "no-self-assign": ["error"],
    //"no-extra-parens": ["error", "all", { "returnAssign": false }],
    "spaced-comment": ["error", "always"],
    "react/jsx-uses-vars": ["error"],
    "react/jsx-uses-react": ["error"],
    "no-console": ["error", { allow: ["info", "warn", "error"] }],

    // ---------------------------------------------
    // skip because auto formatting by prettier
    // ---------------------------------------------
    // "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    // "comma-spacing": ["error", { "before": false, "after": true }],
    // "comma-style": ["error", "last"],
    // "comma-dangle": ["error", "always-multiline"],
    // "indent": ["error", 2, { "SwitchCase": 1 }],
    // "semi": ["error", "never"],
    // "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    // "quotes": ["error", "single"],
    // "react/jsx-closing-bracket-location": [
    //   "warn", {
    //     "selfClosing": "after-props",
    //     "nonEmpty": "after-props"
    //   }
    // ],
    // "react/jsx-tag-spacing": ["error" , {
    //   "closingSlash": "never",
    //   "beforeSelfClosing": "always",
    //   "afterOpening": "never",
    // }],
    // "object-curly-spacing": ["error", "always", { "arraysInObjects": true, "objectsInObjects": true }],
    // "jsx-quotes": ["error", "prefer-double"],
    //  "array-bracket-spacing": ["error", "never", { "objectsInArrays": false, "arraysInArrays": false, "singleValue": false }],
    //"space-infix-ops": ["error"],
    //"space-unary-ops": ["error"],
    // ---------------------------------------------
    //  skip because auto format by editorconfig
    // ---------------------------------------------
    // "linebreak-style": ["error", "unix"],
  }
}
